<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxbg.jbapi.db.dao.OrderProductDAO">
    <select id="getOrderProductsByOrderId" parameterType="int" resultType="com.xxbg.jbapi.entity.OrderProduct">
        select * from order_product where order_id=#{orderId}
    </select>
    <insert id="insertOrderProduct" parameterType="com.xxbg.jbapi.entity.OrderProduct"
            useGeneratedKeys="true" keyProperty="id">
        insert into order_product(order_id,product_id,product_count,total_price,insert_time) values (#{orderId},#{productId},#{productCount},#{totalPrice},#{insertTime})
    </insert>
    <update id="updateOrderProduct" parameterType="com.xxbg.jbapi.entity.OrderProduct">
        update order_product SET
        product_count = #{product_count},
        total_price=#{totalPrice},
        insert_time=#{insertTime}
        where id=#{id}
    </update>
</mapper>